body {
    background-color: #b2bec3;
}

#header {
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 2px solid black;
    margin-bottom: 1em;
}

#item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    width: 250px;
    max-width: 250px;
    height: 300px;
    max-height: 300px;
    margin: 20px 20px 20px 20px;
    text-align: center;
}

.item img {
    max-width: 250px;
    max-height: 250px;
}

.item .item-details {
    margin: 10px 10px 10px 10px;
}